@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
    
}

:root{
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color:#0ef;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
    
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
/* body,html{
    width:100%;
} */

/* navbar  */

section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    width:100%;

  
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:2rem 9%;
    background: var(--bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* opacity:0.6; */
    animation: gradient 5s ease-out infinite; 
     background: linear-gradient(-45deg,#000,#989898,#000,#a7a7a7);
     background-size: 400% 400%;
}

.header .sticky{
    border-bottom: 0.1rem solid rgba(0,0,0,.2);
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.logo{
    font-family: 'Satisfy', cursive;
    font-size: 2.2rem;
    color:var(--text-color);
    font-weight: 800;
    cursor:default;

   
    /* padding-left: 7%; */
}

.logo:hover{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color:var(--main-color);
    margin-left: 4rem;
    transition: .3s;
    font-weight: 600;
    /* transition:transform 0.5s;
    border-radius: 20px; */
}

.navbar a.active ,
.navbar a:hover{
    /* color:black;
    background-color: rgb(248, 231, 0);
    transform: scale(1.6); */
    color:yellow;
    
}

/* .navbar i{
    padding:0 12px;
    width:25px;
    color: rgb(58, 2, 2);
} */

/* .active i{
    padding-right: 19px;
} */

/* .logo i{
    padding-right: 19px;
    /* padding:10px; 
} */

#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    display:none;
    
}

/* home  */

.home{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/* .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.home-img {
    grid-row: 1;
    grid-column: 1;
    /* Other styles for the image container 
}

.home-content {
    grid-row: 1;
    grid-column: 2;
    /* Other styles for the text content */


.home-img img{
    
    width: 24vw;
    height: 34vw;
    /* padding: 1px 29px; */
    border-radius: 40px;
    /* box-shadow: 7px 5px  10px 34px rgb(0, 238, 255); */
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition:1.3s ease;
    animation:floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
     0%{
        transform: translateY(0);
     }
     50%{
        transform: translateY(-2.5rem);
     }
     100%{
        transform: translateY(0);
     }

}

.home-img img:hover{
    box-shadow: 11px 11px 35px 3px rgb(0, 238, 255);
    -webkit-filter: grayscale(0);
    filter: none;
}


.home-content h3{
    font-size: 4.2rem;
    font-weight: 700;
   
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:var(--main-color);
}

.home-content h1{
    font-size:4.8rem;
    font-weight: 800;
    line-height: 1.3;
    color:greenyellow;
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    0% {
      color: greenyellow;
    }
    50%{
        color:#0ef;
    }
    100% {
      color:#E63946;
    }
  }

.home-content p{
    font-size: 2.1rem;
    font-weight: 500;
   
    
}

.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background:var(--main-color);
    color:var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    /* background:var(--main-color); */
    border-radius: 4rem;
    /* box-shadow: 0 0 1rem var(--main-color); */
    font-size: 1.6rem;
    font-weight: 600;
    color:rgb(243, 254, 38);
    border:4px solid rgb(243, 254, 38);
    letter-spacing: .1rem;
    transition: .5s ease;
    transition: transform 0.5s;

}

.btn:hover{
    background:var(--main-color);
    color:black;
    border:none;
    /* box-shadow: none; */
    transform: scale(1.1);
}


/* about */
.about{
    display:flex;
     /* justify-content: space-between; */
    /* align-items: center;  */
    align-items: center;
    gap: 8rem;
    background: var(--second-bg-color);
}

.about-img img{
      width:24vw;
      height:34vw;
      border-radius: 40px;
      transition: 1.3s ease;
      animation:floatImage1 4s ease-in-out infinite;
    }

    @keyframes floatImage1{
        0%{
           transform: translateY(0);
        }
        50%{
           transform: translateY(-2.5rem);
        }
        100%{
           transform: translateY(0);
        }
   
   }
    
    .about-img img:hover{
        /* transform: rotate(-15deg); */
        box-shadow:  11px 11px 35px 3px rgb(0, 238, 255);
}


.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content p{
    font-size: 2.1rem;
    font-weight: 500;
    margin:2rem 0 3rem;
}

 .tab-titles{
    display:flex;
    margin:20px 0 5px;
    gap:10rem;
    color:greenyellow;
  
} 

.tab-titles:hover .active-link{
    color:#0ef;
}



p.tab-links{
    font-size: 2.1rem;
    font-weight: 500;
    cursor:pointer;
    position:relative;
    
}

p.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:var(--main-color);
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}

p.tab-links.active-link::after{
    width:75%;
}

.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    font-size: 2.1rem;
    padding-top: 10px;
}

.tab-contents ul li span {
    font-weight: 600;
} 

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display: block;
}

/* coding profiles */

.coding-profiles h2{
    margin-bottom: 5rem;
}

.profiles-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.profiles-container .profiles-box{
    flex:1 1 30rem;
    background: var(--second-bg-color);
    padding:3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:.5rem solid var(--bg-color);
    transition:.5s ease;
}

.profiles-container .profiles-box:hover{
    border-color: var(--main-color);
    transform:scale(1.02);
}

.profiles-box h3{
    font-size: 2.6rem;
    margin-bottom: 5rem;
    color:var(--main-color);
}

.profiles-box p{
    font-size: 1.9rem;
    margin:1rem 0 3rem;

}

/* projects */

.projects{
    background: var(--second-bg-color);
}

.projects h2{
    margin-bottom: 4rem;
    text-align: center;
}

.projects-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:3.5rem;
}

.projects-container .projects-box{
    position:relative;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    border:4px solid greenyellow;
}

.projects-box img{
    width:100%;
}

.projects-box:hover img{
    transform: scale(1.1);
    transition:.9s ease;
}

.projects-box .project-layer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateX(100%);
    transition:.9s ease;
}
.projects-box:hover .project-layer{
    transform: translateX(0);
}

.project-layer h4{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:yellow;
}

.project-layer p{
    font-size: 1.6rem;
    margin:0.3 0 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color:black;
    font-weight: 500;
}

.project-layer a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.project-layer a i{
    font-size: 2.5rem;
    color: var(--second-bg-color);
}

/* contact me  */

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form  .input-box input,
.contact form textarea{
    width:100%;
    padding:1.5rem;
    font-size: 1.6rem;
    color:var(--text-color);
    background: var(--second-bg-color);
    border-radius: 1.3rem;
    border:4px solid greenyellow;
    margin:.7rem 0;
}

.contact form  .input-box input{
    width:49%;
}

.contact form textarea{
    resize:none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor:pointer;
    background:var(--second-bg-color);
}

.contact form .btn:hover{
    background:var(--main-color);
    color:black;
    border:none;
}

#msg{
    color:#0ef;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* footer  */
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    /* background: var(--second-bg-color); */
    background: linear-gradient(-45deg,#000,#0ef,#000,#0ef);
    animation: gradient 5s ease-out infinite;
    background-size: 400% 400%;

}

@keyframes gradient{
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}


.footer-text p{
    font-size: 1.9rem;
    /* text-align: center;
    width: 100%; */
}

/* Breakpoints */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    /* section{
        height:fit-content;
        position:relative;
    } */
}

@media (max-width:991px){
  
    .header {
        padding: 2rem 3%;
    }
    section{
        padding:10rem 2% 2rem;
    }

    .coding-profiles{
        padding-bottom: 7rem;
    }

    .projects{
        padding-bottom: 7rem;
    }
    
    .contact{
        min-height: auto;
    }
    .footer{
        
        padding:2rem 3%;
        position:relative;
    }
}


@media (max-width: 768px) {
   

    .navbar{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding:1rem 3%;
        background:var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display:none;
    }
    .navbar a{
        display:block;
        font-size: 2rem;
        margin:3rem 0;
    }

    .navbar.active {
        display:block;
    }

    

    .logo {
        font-size: 2.1rem;
    }

    #menu-icon {
        display: block;
    }
     .home{
        flex-direction:column ;
    } 









    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-img img{
        width:40vw;
        height:auto;
        margin-top: 4rem;
    }

    

    .btn {
        font-size: 1.6rem;
    }

    .about {
        flex-direction: column-reverse;
        
    }

    .about-img img {
        width: 40vw;
        height: auto;
        margin-top: 2rem;
       
    }

    .heading {
        font-size: 3.5rem;
    }

    

    .tab-titles {
        gap: 6rem;
        margin-bottom: 2rem;
    }

    .tab-links {
        font-size: 2.1rem;
    }

    .tab-contents ul li {
        font-size: 2.1rem;
    }
    .coding-profiles h2{
        margin-bottom: 3rem;
    }

   
     .projects h2{
        margin-bottom: 3rem;
     }
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

    
 

 @media  (max-width: 617px){
    .projects-container{
        grid-template-columns: 1fr;
    }
 }

 @media  (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width:100%;
    }
 }

 @media  (max-width: 410px){
    
    .footer p{
        font-size: 1.5rem;
    }
 }

 @media  (max-width: 325px){
    
    .footer p{
        font-size: 1.3rem;
    }
 }


  #preloader {
            background: rgb(0, 0, 0) url(preloader.gif) no-repeat center center;
            /* background-size: 60%; */
           height: 100vh;
           width: 100%;
            position: fixed;
            z-index: 999;
  }
  
  